.panel-players table>tbody>tr>td, .panel-players .panel-heading {
	padding: 0;
}

.panel-players {
	margin-top: 0;
}

.panel-players li {
	list-style-type: none;
}

.panel-players div>ul {
	padding-left: 15px;
	margin: 0;
}

.panel-players .radio {
	margin: 0;
}