.panel-players {
	margin-top: 0;
}

.panel-players .checkbox {
  margin: 0;
	padding: 0 10px;
}

.panel-players .checkbox.player {
	padding-left: 30px;
}

.panel-players table>tbody>tr>td,
.panel-players .panel-heading {
  padding: 0;
}

.position label {
  font-weight: bold;
}

.position {
  background-color: #1a1a1a;
  color: white;
}

#players-tabs {
	display: none;
}

.row > .col-md-6:first-child,
.row > .col-md-5:first-child {
	padding-left: 0;
}

.row > .col-md-6:last-child,
.row > .col-md-5:last-child {
	padding-right: 0;
}
