.content-container {
    padding-right: 0;
}

.container-fluid {
    padding-top: 20px;
}

.panel-primary {
    margin-top: 0;
}

.panel-lost>.panel-heading {
    background-color: #b73333;
    border-color: #b73333;
}

.panel-lost {
    border-color: #b73333;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#page-header {
    margin: 0;
    padding-left: 20px;
    background-color: #eeeeee;
}

.sticky + .container-fluid {
    padding-top: 85px;
}

.colors-key img {
    display: inline-block;
    width: 50%;
    height: 10px;
    margin: 0 5px;
}

.colors-key {

}